{{"lookbook-summer.css" | asset_url | stylesheet_tag}}
<div class="summer-container page-width {% if section.settings.img_left == true %}left-two {% else %}right-two{% endif %}">
    {% if section.settings.img_1 != blank %}
    <img src="{{section.settings.img_1}} | img_url:'medium'" class="img-1"/>
    {% else %}
        {{'image' | placeholder_svg_tag: 'img-1'}}
    {% endif %}
    {% if section.settings.img_2 != blank %}
    <img src="{{section.settings.img_2}} | img_url"/>
    {% else %}
        {{'image' | placeholder_svg_tag: 'img-2'}}
    {% endif %}
    
</div>
{% schema %}
{
    "name":"list-img-lookbook",
    "tag":"section",
   "settings": [
        {
            "type": "checkbox",
            "id":"img_left",
            "default":true,
            "label":"left big"
        },
        {
           "type": "image_picker",
           "id":"img_1",
           "label":"image 1"
        },
        {
            "type": "image_picker",
            "id":"img_2",
            "label":"image 2"
         }
   ],
  "presets": [
    {
        "name":"list img lookbook"
    }
  ]
}
{% endschema %}